<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body>
<nav th:replace="fragments :: page-header"></nav>

<th:block th:if="${products == null || products.size() <= 0}">
    <p>No products to display!</p>
    <a th:href="@{/}">Go To Home Page</a>
</th:block>

<!--<div class="container body-content">-->
<!--    <h2>Products</h2>-->
<!--    <ul>-->
<!--        <li th:each="product : ${products}">-->
<!--            <a th:href="@{'/view/' + ${product.id}}" th:text="${product.name}"></a>-->
<!--        </li>-->
<!--    </ul>-->

<div class="container">
    <div class="row" >
        <div class="col-md-4" th:each="product : ${products}">
            <div class="content" >
                <a href="@{'/products/view/' + ${product.id}}">
                    <div class="content-overlay"></div>
                    <img class="content-image" th:src="${product.pictureURL}" alt="placeholder">
                    <div class="content-details fadeIn-bottom">
                        <h3 th:text="${product.name}"></h3>
                        <p th:text="${product.description}"></p>
                        <p th:text="'$ ' + ${product.price}"></p>
<!--                        <button class="btn btn-md btn-secondary m-4" th:href="@{'/products/view/' + ${productId}}">View</button><br>-->
                        <form method="post" th:action="@{/addToCart}" th:name="cart" th:object="${cart}">
                            <input type="number" name="quantity" min="1" max="10" value="1"
                                   class="form-control round-input form-control-sm"/>
                            <input type="hidden" name="id" th:value="${product.id}"/>
                            <button id="product-btn" type="submit" class="btn btn-success">Add To Cart</button>
                        </form>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<!--<div th:replace="fragments :: page-footer"></div>-->

</body>
</html>